.root {
  min-height: 26px;
  border-radius: 15px;
  font-size: 13px;
  padding: 0 10px;

  &:global(.bp4-button:not([class*='bp4-intent-']):not(.bp4-minimal)) {
    background: var(--surface-tier-2);
    color: var(--text-on-tier-2);
    border: 1px solid var(--border-on-tier-2);

    & :global(.bp4-icon) {
      color: var(--text-on-tier-2);
    }
  }
}
