
.popover :global .bp4-popover-content{
  min-width: 600px;
}

.attachmentButton:not([class*=bp4-intent-]) {
  &,
  &:hover{
    background-color: var(--surface-tier-2);
  }
  border: 1px solid var(--border-on-tier-2);
}

.attachmentField :global .bp4-label{
  font-weight: 500;
  font-size: 12px;
}
