.root {
  text-align: right;
}

.label {
  color: var(--text-on-tier-1-muted);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.number {
  margin: 0;
  margin-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: var(--text-on-tier-1);
  line-height: 1;
  font-size: 34px;
}
