

.root{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tag{
  min-height: 26px;

  &:global(.bp4-minimal:not([class*='bp4-intent-'])) {
    background: var(--surface-tier-2);
    border: 1px solid var(--border-on-tier-2);

    &:global(.bp4-interactive:hover) {
      background-color: rgba(143, 153, 168, 0.05);
    }
  }
}
