.emptyState{
  text-align: center;
  font-size: 15px;
  color: var(--text-on-tier-1-muted);

  :global ul{
    list-style: inside;

    li{
      margin-bottom: 12px;

      &::marker{
        color: var(--text-on-tier-1-muted);
        font-size: 12px;
      }
    }
  }
}
