

.root {
  &:global(.bp4-navbar){
    background-color: var(--surface-tier-2);
    box-shadow: 0 1px 0 var(--border-on-tier-2);
  }
  &:global(.bp4-navbar),
  :global(.bp4-navbar-group){
    height: 45px;
  }
  :global(.bp4-navbar-divider){
    margin-left: 4px;
    margin-right: 4px;
  }
}
